* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1370px;
  padding: 0 15px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
/* .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
} */

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  width: 100%;
}
img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.col100 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col50 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}

.col33 {
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 0 15px;
}
.col25 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}
/* ====================navbar=============================== */

.navbar {
  position: relative;
  width: 100%;
  min-height: 100px;
  z-index: 100;
  margin-top: 16px;
}
.navbar .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.navbar .container .nav-menu ul {
  display: flex;
}
.navbar .container .nav-menu ul li {
  padding: 10px 15px;
}
.navbar .container .nav-menu ul li a {
  color: #e14404;
  font-size: 16px;
}
.navbar .container .nav-menu ul li a:hover {
  color: #3420de;
}
.navbar .container .btn button {
  border-radius: 50px;
  padding: 17px 32px;
  border: none;
  background-color: #e14404;
  color: #ffffff;
  text-transform: capitalize;
}

.navbar .container .btn button:hover {
  background-color: #3420de;
}

.navbar .container .hamburger {
  display: none;
}

/* ==================banner================== */

.banner {
  position: relative;
  background-image: url(../image/banner.jpg);
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner .container .row .col100 .text {
  text-align: center;
  padding-top: 50px;
}

.banner .container .row .col100 .text h1 {
  font-size: 54px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 70px;
  color: #3420de;
}

.banner .container .row .col100 .text button {
  background-color: #e14404;
  color: #ffffff;
  font-size: 20px;
  padding: 17px 32px;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  text-transform: capitalize;
}
.banner .container .row .col100 .text button:hover {
  background-color: #3420de;
}

/*================feature=============================== */

.feature {
  min-height: 700px;
  position: relative;
  width: 100%;
  padding-top: 50px;
}

.feature .container .row .col100 .text {
  text-align: center;
}

.feature .container .row .col100 .text h2 {
  font-size: 20px;
  color: #e14404;
}

.feature .container .row .col100 .text h3 {
  font-size: 40px;
  padding-top: 20px;
  color: #3420de;
  text-transform: capitalize;
}
.feature .container .row .col100 .text p {
  font-size: 20px;
  color: #e14404;
  padding-top: 20px;
}

.feature .container .row .col33 .box {
  height: 250px;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px #010116;
}

.feature .container .row .col33 .box:hover {
  background-color: #e14404;
}
.feature .container .row .col33 .box .image img {
  width: 70px;
  height: 70px;
}

.feature .container .row .col33 .box h4 {
  font-size: 22px;
  color: #303031;
  text-transform: capitalize;
  padding-top: 20px;
}

.feature .container .row .col33 .box p {
  font-size: 16px;
  color: #828285;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 75px;
  padding-left: 75px;
}

/* ================whatwedo============================= */
.whatwedo {
  min-height: 1000px;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.whatwedo .container .row .col50 .text h2 {
  color: #e14404;
  font-size: 20px;
}

.whatwedo .container .row .col50 .text h3 {
  font-size: 40px;
  padding-top: 30px;
  color: #3420de;
}

.whatwedo .container .row .col50 .text h4 {
  font-size: 20px;
  color: #303031;
  padding-top: 20px;
}

.whatwedo .container .row .col50 .text p {
  font-size: 20px;
  color: #303031;
  padding-top: 20px;
}

.whatwedo .container .row .col50 .text #pa {
  font-size: 20px;
  color: #303031;
  padding-top: 20px;
}

.whatwedo .container .row .col25 .box {
  background-color: #3420de;
  margin-top: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.whatwedo .container .row .col25 .box .text {
  text-align: center;
}

.whatwedo .container .row .col25 .box .text h5 {
  font-size: 82px;
  padding-top: 30px;
  color: #ffffff;
}
.whatwedo .container .row .col25 .box .text h6 {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}

/* ================================classes================================ */

.classes {
  min-height: 700px;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.classes .container .row .col100 .text {
  text-align: center;
}
.classes .container .row .col100 .text h2 {
  font-size: 30px;
  color: #e14404;
  text-transform: uppercase;
}
.classes .container .row .col100 .text h3 {
  font-size: 40px;
  color: #3420de;
  padding-top: 20px;
  text-transform: capitalize;
}

.classes .container .row .col100 .text p {
  font-size: 25px;
  color: #303031;
  padding-top: 20px;
}

/* =================swiper============================== */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide .text h4 {
  font-size: 30px;
  color: #3420de;
  margin-top: 10px;
}

.swiper-slide .text h5 {
  font-size: 20px;
  color: #303031;
  margin-top: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 30px;
}

/* ==============================video============================= */

.video {
  min-height: 700px;
  position: relative;
  width: 100%;
  background-color: #3420de;
}

.video .container .row .col100 .text {
  text-align: center;
}

.video .container .row .col100 .text h2 {
  color: #e14404;
  font-size: 25px;
  padding-top: 100px;
}

.video .container .row .col100 .text h3 {
  color: #ffffff;
  font-size: 40px;
  padding-top: 10px;
  text-transform: capitalize;
}
.video .container .row .col100 .text p {
  font-size: 20px;
  color: #ffffff;
  padding-top: 20px;
}
.video .container .row .col100 .image {
  padding-top: 30px;
}

.video .container .row .col100 .image img {
  height: 400px;
}

/* ======================price==================== */
.price {
  min-height: 900px;
  position: relative;
  width: 100%;
  padding-top: 50px;
}

.price .container .row .col100 .text {
  text-align: center;
}

.price .container .row .col100 .text h2 {
  font-size: 25px;
  color: #e14404;
  text-transform: uppercase;
}

.price .container .row .col100 .text h3 {
  font-size: 40px;
  color: #3420de;
  text-transform: capitalize;
  padding-top: 30px;
}

.price .container .row .col100 .text p {
  font-size: 20px;
  color: #303031;
  padding-top: 20px;
}

.price .container .row .col33 .box {
  height: 500px;
  width: 100%;
  background-color: rgb(222, 220, 218);
  text-align: center;
  margin-top: 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.price .container .row .col33 .box:hover {
  background-color: yellow;
  padding: 20px;
  margin: 20px;
}

.price .container .row .col33 .box .image img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  margin-top: 50px;
  background-color: #dbc4c4;
}

.price .container .row .col33 .box h4 {
  font-size: 46px;
  color: #e14404;
  padding-top: 30px;
}

.price .container .row .col33 .box h5 {
  font-size: 25px;
  color: #3420de;
  padding-top: 30px;
}

.price .container .row .col33 .box p {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.price .container .row .col33 .box .but button {
  padding: 17px 20px;
  margin-top: 30px;
  background-color: #e14404;
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
  border: none;
}

.price .container .row .col33 .box .but button:hover {
  background-color: #3420de;
}

/* ============teach========================== */

.teach {
  min-height: 600px;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.teach .container .row .col50 .text h2 {
  font-size: 20px;
  color: #e14404;
  text-transform: uppercase;
}

.teach .container .row .col50 .text h3 {
  font-size: 40px;
  color: #3420de;
  padding-right: 100px;
  padding-top: 30px;
}

.teach .container .row .col50 .text h4 {
  font-size: 20px;
  color: #303031;
  padding-top: 30px;
}

.teach .container .row .col50 .text p {
  font-size: 20px;
  color: #303031;
  padding-top: 20px;
}

/* =====================book====================== */

.book {
  min-height: 500px;
  position: relative;
  width: 100%;
  background-color: #e1e1e1;
  margin-top: 20px;
}
.book .container .row .col100 .text {
  text-align: center;
}
.book .container .row .col100 .text h2 {
  font-size: 20px;
  color: #e14404;
  padding-top: 50px;
}
.book .container .row .col100 .text h3 {
  font-size: 70px;
  color: #3420de;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
}

.book .container .row .col100 .text p {
  font-size: 20px;
  color: #303031;
  padding-top: 30px;
}

.book .container .row .col100 .text button {
  padding: 17px 20px;
  background-color: #e14404;
  border: none;
  margin-top: 30px;
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
}
/* ===========paralex======================= */

.para {
  min-height: 500px;
  position: relative;
  width: 100%;
}
.parallax {
  /* The image used */
  background-image: url(../image/student.webp);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ===============team========================== */

.team {
  min-height: 800px;
  position: relative;
  width: 100%;
}

.team .container .row .col100 .text {
  text-align: center;
}

.team .container .row .col100 .text h2 {
  color: #e14404;
  font-size: 25px;
  text-transform: capitalize;
}

.team .container .row .col100 .text h3 {
  color: #3420de;
  font-size: 50px;
  text-transform: capitalize;
  padding-top: 30px;
}

.team .container .row .col100 .text p {
  font-size: 20px;
  color: #303031;
  padding-top: 20px;
}
.team .container .row .swiper-slide .image {
  margin-top: 30px;
}

.team .container .row .swiper-slide .image img {
  height: 400px;
}

.team .container .row .swiper {
  width: 100%;
  height: 100%;
}

.team .container .row .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team .container .row .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team .container .row .swiper-slide {
  width: 60%;
}

.team .container .row .swiper-slide:nth-child(2n) {
  width: 40%;
}

.team .container .row .swiper-slide:nth-child(3n) {
  width: 20%;
}

/* ======================Testimonial======================== */
.testimonial {
  min-height: 700px;
  position: relative;
  width: 100%;
}

.testimonial .container .row .col100 .text {
  text-align: center;
}
.testimonial .container .row .col100 .text h2 {
  font-size: 25px;
  color: #e14404;
  text-transform: capitalize;
}

.testimonial .container .row .col100 .text h3 {
  font-size: 45px;
  color: #3420de;
  text-transform: capitalize;
  padding-top: 30px;
}
.testimonial .container .row .col100 .text p {
  font-size: 20px;
  color: #303031;
  padding-top: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* =================footer================== */

.footer {
  min-height: 300px;
  width: 100%;
  background-color: #3420de;
}

.footer .container .row .col25 .images {
  padding-top: 30px;
}

.footer .container .row .col25 .images img {
  width: 150px;
  height: auto;
}
.footer .container .row .col25 .para-1 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.footer .container .row .col25 .social-icons {
  padding-top: 50px;
}

.footer .container .row .col25 .social-icons a {
  color: #ffffff;
  display: flex;
  margin-bottom: 10px;
}
.footer .container .row .col25 .social-icons a i {
  color: #fff;
  margin-right: 10px;
}

.footer .container .row .col25 .para-2 {
  font-size: 30px;
  font-weight: 500;
  color: #e14404;
  padding-top: 30px;
}

.footer .container .row .col25 ul li a {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}
.footer .container .row .col25 ul li a:hover {
  color: #b83a08;
  padding-left: 20px;
}

.footer .container .row .col25 button {
  background-color: #e14404;
  color: #000;
  font-size: 20px;
  border: none;
  padding: 10px 17px;
  margin-top: 30px;
  border-radius: 50px;
  text-transform: capitalize;
}

.footer .container .row .col25 button:hover {
  background-color: #b83a08;
}
.footer .container .row .col100 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
  text-align: center;
}
.footer .container .row .col100 p {
  padding-top: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
